<template>
  <div class="landing">
    <img class="landing-background" src="../assets/images/background.jpg" alt="Symbio - Happy new year 2022" />
    <img class="angle-top-left" src="../assets/images/angle-top-left.png" alt="" />
    <p class="text extra-bold-italic-text">
      Let's gather all our energy
      <br /><span>&nbsp;</span>
      to build a positive future
    </p>
    <p class="text extra-bold-text">
      Happy new year <span class="year">2022</span>
    </p>
    <p class="text medium-text">
      Year of hydrogen
    </p>
    <div id="video-player">
      <video autoplay muted>
        <source src="../assets/videos/Symbio.webm" type="video/webm" />
        <source src="../assets/videos/Symbio.mp4" type="video/mp4" />
      </video>
      <div id="play-button" @click='playVideo()'>
        <img class="play-button-icon" src="../assets/images/play-button.png" />
      </div>
    </div>
    <div class="logo">
      <a href="https://www.symbio.one" target="_blank">
        <img src="../assets/images/logo.png" alt="Symbio" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Landing',
  data () {
    return {
      player: undefined,
      play: false,
      interval: function () {}
    }
  },
  mounted () {
    this.player = document.getElementById('video-player').firstElementChild
    this.interval = setInterval(function () {
      let vPlayer = document.getElementById('video-player').firstElementChild
      vPlayer.currentTime = 0
    }, 5000)
  },
  methods: {
    playVideo () {
      this.player.pause()
      this.player.currentTime = 0
      this.player.controls = true
      this.player.muted = false
      this.player.play()
      clearInterval(this.interval)
      document.getElementById('play-button').style.display = 'none'
    }
  }
}
</script>

<style lang="scss">
@import '../assets/fonts/fonts.css';

.landing {
  // background-image: url(../assets/images/Landing.png);
  // background-repeat: no-repeat;
  // background-position: top left;
  // background-size: contain;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  img {
    // opacity: 0;
    width: inherit;
    height: auto;
    max-width: inherit;
    position: relative;
    &.angle-top-left {
      display: none;
    }
  }
  @media screen and (max-width: 780px) and (orientation: portrait) {
    height: 100vh;
    img {
      &.landing-background {
        width: auto;
        height: 100vh;
        right: 0;
        transform: translate(-37.25%, 0);
      }
      &.angle-top-left {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 25%;
      }
    }
  }
  @media screen and (max-width: 380px) and (orientation: portrait) {
    img {
      &.landing-background {
        transform: translate(-33%, 0);
      }
    }
  }
  .text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    &.extra-bold-italic-text {
      top: 4.25%;
      left: 50.5%;
      font-family: 'Raleway Extra Bold Italic';
      font-size: 3rem;
      line-height: 3rem;
      letter-spacing: 0.25px;
      color: #009cde;
      @media screen and (max-width: 1600px) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      @media screen and (max-width: 1440px) {
        font-size: 2.25rem;
        line-height: 2.25rem;
      }
      @media screen and (max-width: 1280px) {
        font-size: 2rem;
        line-height: 2rem;
      }
      @media screen and (max-width: 1080px) {
        font-size: 1.75rem;
        line-height: 1.75rem;
      }
      @media screen and (max-width: 780px) {
        font-size: 1.25rem;
        line-height: 1.25rem;
      }
      @media screen and (max-width: 780px) and (orientation: portrait) {
        top: 10%;
      }
      @media screen and (max-width: 680px) {
        font-size: 1.1rem;
        line-height: 1.1rem;
      }
      @media screen and (max-width: 580px) {
        font-size: 1rem;
        line-height: 1rem;
      }
      @media screen and (max-width: 480px) {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
      @media screen and (max-width: 480px) and (orientation: portrait) {
        top: 15%;
        font-size: 1rem;
        line-height: 1.25rem;
      }
      @media screen and (max-width: 380px) {
        font-size: 0.66rem;
        line-height: 0.66rem;
      }
      @media screen and (max-width: 380px) and (orientation: portrait) {
        top: 15%;
        font-size: 1rem;
        line-height: 1.25rem;
      }
      @media screen and (max-width: 340px) {
        font-size: 0.55rem;
        line-height: 0.55rem;
      }
      @media screen and (max-width: 340px) and (orientation: portrait) {
        top: 15%;
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
    &.extra-bold-text {
      top: 12.78%;
      left: 50%;
      font-family: "Raleway Extra Bold";
      font-size: 4.6rem;
      line-height: 4.75rem;
      letter-spacing: 0.6px;
      span {
        &.year {
          display: initial;
          font-size: 5.75rem;
          letter-spacing: -7px;
        }
      }
      @media screen and (max-width: 1600px) {
        font-size: 4rem;
        line-height: 4rem;
        span {
          &.year {
            font-size: 5rem;
            letter-spacing: -5px;
          }
        }
      }
      @media screen and (max-width: 1440px) {
        font-size: 3.5rem;
        line-height: 3.5rem;
        span {
          &.year {
            font-size: 4.75rem;
          }
        }
      }
      @media screen and (max-width: 1280px) {
        font-size: 3rem;
        line-height: 3rem;
        span {
          &.year {
            font-size: 3.75rem;
            letter-spacing: initial;
          }
        }
      }
      @media screen and (max-width: 1080px) {
        top: 12.5%;
        font-size: 2.5rem;
        line-height: 2.5rem;
        span {
          &.year {
            font-size: 3.25rem;
          }
        }
      }
      @media screen and (max-width: 780px) {
        top: 12%;
        font-size: 1.75rem;
        line-height: 1.75rem;
        span {
          &.year {
            font-size: 2.25rem;
            letter-spacing: initial;
          }
        }
      }
      @media screen and (max-width: 780px) and (orientation: portrait) {
        top: 17%;
      }
      @media screen and (max-width: 680px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
        span {
          &.year {
            font-size: 2rem;
          }
        }
      }
      @media screen and (max-width: 580px) {
        font-size: 1.25rem;
        line-height: 1.25rem;
        span {
          &.year {
            font-size: 1.75rem;
          }
        }
      }
      @media screen and (max-width: 480px) {
        top: 11%;
        font-size: 1rem;
        line-height: 1rem;
        span {
          &.year {
            font-size: 1.25rem;
          }
        }
      }
      @media screen and (max-width: 480px) and (orientation: portrait) {
        top: 24%;
        font-size: 1.5rem;
        line-height: 1.75rem;
        span {
          &.year {
            font-size: 2rem;
          }
        }
      }
      @media screen and (max-width: 380px) {
        top: 11%;
        font-size: 0.9rem;
        line-height: 0.9rem;
        span {
          &.year {
            font-size: 1.25rem;
          }
        }
      }
      @media screen and (max-width: 380px) and (orientation: portrait) {
        top: 24%;
        font-size: 1.5rem;
        line-height: 1.75rem;
        span {
          &.year {
            font-size: 2rem;
          }
        }
      }
      @media screen and (max-width: 340px) {
        top: 10%;
        font-size: 0.66rem;
        line-height: 0.66rem;
        span {
          &.year {
            font-size: 0.9rem;
          }
        }
      }
      @media screen and (max-width: 340px) and (orientation: portrait) {
        top: 24%;
        font-size: 1.5rem;
        line-height: 1.75rem;
        span {
          &.year {
            font-size: 2rem;
          }
        }
      }
    }
    &.medium-text {
      top: 17.85%;
      left: 50.35%;
      font-family: "Raleway Medium";
      font-size: 2.5rem;
      line-height: 2.5rem;
      @media screen and (max-width: 1600px) {
        font-size: 2rem;
        line-height: 2rem;
      }
      @media screen and (max-width: 1440px) {
        font-size: 1.75rem;
        line-height: 1.75rem;
      }
      @media screen and (max-width: 1280px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
      @media screen and (max-width: 1080px) {
        font-size: 1.33rem;
        line-height: 1.33rem;
      }
      @media screen and (max-width: 780px) {
        font-size: 1rem;
        line-height: 1rem;
      }
      @media screen and (max-width: 780px) and (orientation: portrait) {
        top: 21%;
      }
      @media screen and (max-width: 680px) {
        font-size: 0.9rem;
        line-height: 0.9rem;
      }
      @media screen and (max-width: 580px) {
        font-size: 0.8rem;
        line-height: 0.8rem;
      }
      @media screen and (max-width: 480px) {
        font-size: 0.7rem;
        line-height: 0.7rem;
      }
      @media screen and (max-width: 480px) and (orientation: portrait) {
        top: 29%;
        font-size: 0.9rem;
        line-height: 0.9rem;
      }
      @media screen and (max-width: 380px) {
        font-size: 0.5rem;
        line-height: 0.5rem;
      }
      @media screen and (max-width: 380px) and (orientation: portrait) {
        top: 29%;
        font-size: 0.9rem;
        line-height: 0.9rem;
      }
      @media screen and (max-width: 340px) {
        font-size: 0.5rem;
        line-height: 0.5rem;
      }
      @media screen and (max-width: 340px) and (orientation: portrait) {
        top: 29%;
        font-size: 0.9rem;
        line-height: 0.9rem;
      }
    }
    &.extra-bold-text,
    &.medium-text {
      color: #0d374b;
    }
    span {
      display: none;
    }
  }
  .logo {
    position: absolute;
    right: 9.75%;
    bottom: 3.75%;
    max-width: 40%;
    img {
      max-width: unset;
    }
    @media screen and(max-width: 1680px) {
      right: 5.75%;
      img {
        width: 85%;
      }
    }
    @media screen and(max-width: 1440px) {
      right: 1%;
      max-width: 33%;
      img {
        width: 75%;
      }
    }
    @media screen and(max-width: 780px) and (orientation: portrait) {
      right: 0;
      max-width: 60%;
    }
    @media screen and(max-width: 680px) and (orientation: portrait) {
      max-width: 50%;
    }
    @media screen and(max-width: 480px) and (orientation: portrait) {
      max-width: 45%;
    }
    @media screen and(max-width: 380px) and (orientation: portrait) {
      max-width: 40%;
    }
    @media screen and(max-width: 320px) and (orientation: portrait) {
      max-width: 35%;
    }
  }
  #video-player {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1210px;
    video {
      width: 100%;
      vertical-align: middle;
    }
    #play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      cursor: pointer;
      .play-button-icon {
        max-width: 128px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 780px) {
          max-width: 64px;
        }
      }
    }
    @media screen and(max-width: 1440px) {
      max-width: 910px;
    }
    @media screen and(max-width: 1280px) {
      max-width: 800px;
    }
    @media screen and(max-width: 1080px) {
      max-width: 675px;
    }
    @media screen and(max-width: 860px) {
      max-width: 585px;
    }
    @media screen and(max-width: 780px) {
      max-width: 485px;
    }
    @media screen and(max-width: 780px) and (orientation: portrait) {
      max-width: 90%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @media screen and(max-width: 680px) and (orientation: landscape) {
      max-width: 420px;
    }
    @media screen and(max-width: 580px) and (orientation: landscape) {
      max-width: 380px;
    }
    @media screen and(max-width: 480px) and (orientation: landscape) {
      max-width: 320px;
    }
    @media screen and(max-width: 380px) and (orientation: landscape) {
      max-width: 280px;
    }
    @media screen and(max-width: 340px) and (orientation: landscape) {
      max-width: 250px;
    }
  }
}
</style>
