<template>
  <div class="mail">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: #ffffff;">
      <tr style="display: block;">
        <td>
          <a href="https://www.symbio.one/" target="_blank">
            <img src="../assets/images/mail/Symbio_WishCard_Emailing_01.jpg" style="display: block;" alt="Symbio" />
          </a>
        </td>
        <td>
          <img src="../assets/images/mail/Symbio_WishCard_Emailing_02.jpg" style="display: block;" />
        </td>
      </tr>
      <tr style="display: block;">
        <td colspan="2">
          <img src="../assets/images/mail/Symbio_WishCard_Emailing_03.jpg" style="display: block;" alt="The Symbio team wishes you a healthy and inspiring 2022 - Towards and better tomorrow" />
        </td>
      </tr>
      <tr style="display: block;">
        <td>
          <img src="../assets/images/mail/Symbio_WishCard_Emailing_04.jpg" style="display: block;" />
        </td>
        <td>
          <a href="https://wishes2022.symbio.one/" target="_blank">
            <img src="../assets/images/mail/Symbio_WishCard_Emailing_05.jpg" style="display: block;" alt="Discover our 2022 wishes" />
          </a>
        </td>
      </tr>
      <tr style="display: block;">
        <td colspan="2">
          <img src="../assets/images/mail/Symbio_WishCard_Emailing_06.jpg" style="display: block;" />
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <p style="padding: 5px 0;">
            <a href="https://www.symbio.one/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 16px; text-decoration: none; color: #343434;" title="symbio.one">symbio.one</a>
          </p>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Mail'
}
</script>

<style lang="scss">
.mail {
  width: 600px;
  background-color: #ffffff;
}
</style>
